@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;  
    
}

.container {
    max-width: 1100px;
    margin:0 auto;
    padding: 0 30px;
    display: flex;
    min-width: 900px;
}

.navbar {
    color: #fff;
    background-color: #1F2937;

}

.navbar .container {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
        
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.headerlink {
    display: flex;
    gap: 15px;

}

.header {
    background-color: #1F2937;
    color: #fff;
   
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    flex:1;
    gap:35px;
}

.heroleft {
    text-align: left;
    max-width: 45%;

}

.heroheader,
.herotext {
    line-height: 1.2;
}

.heroheader {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8
}

.herotext {
    font-size: 18px;
    color: E5E7EB;
    margin-bottom: 10px;
}

.heroright {
    display: flex;
    background-color: grey;   
    max-width: 50%;
    flex: 1 0;
    padding: 75px 0 75px 0;
    justify-content: center;

}

.heroleft button {
    background-color: #3882f6;   
    color: #fff;
    padding: 5px 25px;
    border-radius: 7px;
    border: 2px solid #1F2937;

}

.information .container {
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.boxtext .container {
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
    
}

.boxandtext {
    width: 150px;
    justify-content: center;
    
}

.box {
    border: 5px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 8%;    
}

.subtext {
    text-align: center;
}

.quotebox {
    background-color: #E5E7EB;
    padding: 80px;

}

.quotebox .container {
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.signing {
    /* margin: 150px; */
}

.signing .container {
    background-color: #3882f6;
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: space-around;
    flex-basis: 800px;
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 12px;
    align-items: center;
}

.call,
.instruction {
    color:#F9FAF8;
    
}

.call {
    font-weight: bold;
}

.signing .container button {
    background-color: #3882f6;
    border: 2px solid #F9FAF8;
    padding: 5px 25px;
    border-radius: 7px;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color:#F9FAF8;
    font-size: smaller;

}

.footer .container {
    justify-content: center;
    padding: 15px;

}